@model TeeamFootballProject.Models.Player

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row rd-2">
            <h2 class="text-primary">Create Category</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="Surname"></label>
            <input asp-for="Surname" class="form-control" />
            <span asp-validation-for="Surname" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="Gender"></label>
            <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Genders>()" class="form-select"></select>
            <span asp-validation-for="Gender" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="DateBirth"></label>
            <input type="date" asp-for="DateBirth" class="form-control" />
            <span asp-validation-for="DateBirth" class="text-danger"></span>

        </div>
         <div class="mb-3">
            <label asp-for="NameTeam.NameOfTeam" class="control-label"></label>
            <select asp-for="NameTeam.NameOfTeam" asp-items="@ViewBag.Teams" class="form-select">
                <option> select one</option>
            </select>
            <input asp-for="NameTeam.NameOfTeam" class="form-control" />
                    <span asp-validation-for="NameTeam.NameOfTeam" class="text-danger"></span>
            @* <h4>add your city</h4>
            <form asp-controller="Home" asp-action="Create">
                <div class="form-group">
                    <label asp-for="NameTeam.NameOfTeam" class="control-label"></label>
                    <input asp-for="NameTeam.NameOfTeam" class="form-control" />
                </div>
                <input type="submit" value="submit" />

            </form> *@
        </div> 
        <div class="mb-3">
            <label asp-for="Country"></label>
            <select asp-for="Country" asp-items="Html.GetEnumSelectList<Countries>()" class="form-select"></select>
            <span asp-validation-for="Country" class="text-danger"></span>

        </div>
        <button type="submit" class=" btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>