@model CatalogOfFootballPlayers.Models.Player

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row rb-2">
            <h2 class="text-primary">Create Category</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Surname"></label>
            <input asp-for="Surname" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Gender"></label>
            <input asp-for="Gender" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="DateOfBirth"></label>
            <input type="date" asp-for="DateOfBirth" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="NameTeamsList"></label>
            <select asp-for="NameTeamsList" class="form-select">
                <option value="NameTeam">New Team</option>
                <input type="text" asp-for="NameTeamsList" name="NewTeamNameCreate" />
                @foreach (var item in Model.NameTeamsList)
                {
                    <option value="@item.TeamId" asp-for="@item.NameOfTeam"></option>
                }

            </select>

           @*  <input asp-for="NameTeam" class="form-control" /> *@
        </div>
        <div class="mb-3">
            <label asp-for="Country"></label>
           @*  <span asp-validation-for="Person.Gender" class="text-danger"></span> *@
            <select asp-for="Country" asp-items="Html.GetEnumSelectList<Countries>()" class="form-select" aria-label="Default select example">
               @*  <option selected>Open this select menu</option>
                <option value="1" asp-for="Country" >One</option>
                <option value="2">Two</option>
                <option value="3">Three</option> *@
            </select>
           @*  <input asp-for="Country" class="form-control" /> *@
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>
