@model CatalogOfFootballPlayers.Models.Player

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row rb-2">
            <h2 class="text-primary">Update Category</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Surname"></label>
            <input asp-for="Surname" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Gender"></label>
            <input asp-for="Gender" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="DateOfBirth"></label>
            <input asp-for="DateOfBirth" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="NameTeam"></label>
            <input asp-for="NameTeam" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Country"></label>
            <input asp-for="Country" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>
